.container {
    width: 400px;
    margin: 25vh auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  

  .inputContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 40px;
    
  }
  
  .icon {
    margin-right: 10px;
    color: #757575;
  }
  
  .input {
    background-color: rgb(205, 203, 203);
    outline: none;
    width: 100%;
    height: 40px; 
    font-size: 18px; 
    color: #757575;
    border: none;
  }
  
  .input::placeholder {
    color: #9e9e9e;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    padding: 10px 50px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    
    margin:20px 10px 10px 20px;
  }
  
  .sign-up {
    background-color: purple; 
    color: white;
    font-size: 18px;
  }
  
  .sign-in {
    text-decoration: none;
    background-color: rgb(183, 182, 182); 
    color: black;
    font-size: 20px;
  }
  
  
  .sign-in:hover{
    color: white;
    background-color: black;
  }

  .sign-up:hover{
    color: black;
    background-color: rgb(156, 156, 231);
  }